.navMenu{
/*     background-color: #2766da; */
    background-color: #417be7;
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    align-items: center;
}
.navMenu ul{
    margin-left: 0;
    margin-bottom: 0 !important;
}
.lista {
    display: flex;
    list-style: none;
    margin-left: 1em;
    align-items: center;
}
.itemLista {
    align-items: center;
    height: 40px;
    margin-right: 1em;
    padding: 4px;
    background-color: #417be7;
    border: 2px solid;
    border-color: #1546a1;
    border-radius: 10px;
    transition: 0.1s;
}
.itemLista:hover{
    transition: 0.1s;
    background-color: #6598f7;
    border-color: #033faf;
}
.botao{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;
    color: black;
/*     color: #202f36; */
    font-size: 18px;
    align-items: center;
}
.icone{
    margin-right: 4px;
    margin-bottom: 2px;
    width: 20px;
    height: 20px;
}
.logo{
    width: 100px;
    margin-right: 20px;
}